body{
    padding: 1rem;
}
.gallery{
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}
.wide{
    grid-column: span 2;
}
.tall{
    grid-row: span 2;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
/* Hover effect specific rows */

.gallery img{
    transition: filter .3s ease-in-out;

    /* Filter */
    filter:invert(20%);
}
.gallery img:hover{
    filter: none;
}